:root {
  --colorA1: #abc270;
  --colorA2: #fec868;
  --colorA3: #fda769;
  --colorA4: #473c33;
  --colorB1: #1c315e;
  --colorB2: #227c70;
  --colorB3: #88a47c;
  --colorB4: #e6e2c3;
  --colorC1: #a75d5d;
  --colorC2: #d3756b;
  --colorC3: #f0997d;
  --colorC4: #ffc3a1;
}

* {
  font-family: Merriweather;
  font-size: 700;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--colorA4);
  height: 300vh;
  z-index: -999999;
}

header {
  display: flex;
  position: fixed;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 64px;
  padding: 0 0 0 0;
  margin: 0;
  background-color: var(--colorA1);
  border-bottom: 2px solid var(--colorB3);
  z-index: 1;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav ul li {
  display: flex;
  justify-items: center;
}
a {
  font-family: Rowdies;
  font-size: 700;
  color: var(--colorA4);
  margin: 10px 34px;
  border: 2px dashed var(--colorA4);
  background-color: transparent;
  padding: 5px 15px;
  transition: ease 0.15s;
  text-decoration: none;
}

a:hover {
  margin: 7px 31px;
  padding: 8px 18px;
  border: 2px solid var(--colorA2);
}

a:active {
  color: var(--colorB2);
}

#nav-bar,
ul {
  display: inline-flex;
  list-style-type: none;
}

.logo > img {
  width: 250px;
  height: 90px;
  object-fit: cover;
}

.section1 {
  background-color: var(--colorB4);
  width: 100%;
  position: absolute;
  top: 66px;
  height: calc(100vh - 66px);
}
.section2 {
  z-index: -10;
  background-color: var(--colorB3);
  width: 100%;
  position: absolute;
  top: 100vh;
  height: 100vh;
}
.section3 {
  z-index: -20;
  background-color: var(--colorC4);
  width: 100%;
  position: absolute;
  top: 200vh;
  height: 100vh;
}

/* @media only screen and (max-width: 600px) {
  header {
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 30%;
    flex-direction: column;
  }

  .logo > img {
    position: relative;
    top: -10px;
    width: 100px;
    height: 50px;
    object-fit: cover;
    margin-bottom: -50px;
  }

  nav ul {
    padding: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  li {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1 0 auto;
    align-self: stretch;
  }
  .logo > img {
    width: 250px;
    height: 90px;
    min-width: 100px;
    min-height: 15px;
    margin-left: 20px;
    object-fit: cover;
  }
} */
